<%= form_for(@schedules_builder) do |f| %>
  <% if @schedules_builder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedules_builder.errors.count, "error") %> prohibited this schedules_builder from being saved:</h2>

      <ul>
      <% @schedules_builder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
