<h1>New Schedules Builder</h1>

<%= render 'form' %>

<%= link_to 'Back', schedules_builders_path %>

simple_form_for @user do |f|
  f.input_field :name
  f.input_field :remember_me, as: :boolean, boolean_style: :inline
end