<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_schedule.name %>
</p>

<%= link_to 'Edit', edit_course_schedule_path(@course_schedule) %> |
<%= link_to 'Back', course_schedules_path %>
