<h1>Hi Brain Alex and Nick!</h1>
<p> This file is the default landing page for our site and it is found at<p>
<p> app/views/welcome/index.html.erb</p>


<%= calendar number_of_days: 84 do |date| %>
  <%=  %>
<% end %>