<h1>Hi Brian Alex and Nick!</h1>
<p> This file is the default landing page for our site and it is found at</p>
<p> app/views/welcome/index.html.erb</p>


<%= calendar number_of_days: 84 do |date| %>
  <%= date %>
<% end %>

<p> SFU COURSE SCHEDULER</p>

<datalist id="classes">
    <option value="CMPT 320">
    <option value="CMPT 300">
    <option value="CMPT 405">
    <option value="CMPT 225">
    <option value="CMPT 307">
    <option value="CMPT 379">
    <option value="CMPT 276">
    <option value="ARCH 131">
    <option value="HUM 102W">
    <option value="ARCH 101">
    <option value="BISC 100">
    <option value="BPK 100">
    <option value="HIST 100">
    <option value="ARCH 300">
    <option value="ARCH 200">
    <option value="HUM 100">
    <option value="CHEM 100">
    <option value="BIOL 100">
    <option value="BIOC 100">
    <option value="MATH 100">
    <option value="MACM 101">       
</datalist>
<input name="classes" list="classList" />
<datalist id="classList"></datalist>

<script type="text/javascript">
  var myClasses = new Array();
  myClasses[0]='CMPT 120';
  myClasses[1]='MACM 201';
  myClasses[2]= 'CMPT 320';
  myClasses[3]= 'CMPT 300';
  myClasses[4]=  'CMPT 405';
  myClasses[5]= 'CMPT 225';
  myClasses[6]= 'CMPT 307';
  myClasses[7]='CMPT 379';
  myClasses[8]=  'CMPT 276';
  myClasses[9]=  'ARCH 131';
  myClasses[10]= 'HUM 102W';
  myClasses[11]=  'ARCH 101';
  myClasses[12]= 'BISC 100';
  myClasses[13]=  'BPK 100';
  myClasses[14]=  'HIST 100';
  myClasses[15]=  'ARCH 300';
  myClasses[16]= 'ARCH 200';
  myClasses[17]=  'HUM 100';
  myClasses[18]=  'CHEM 100';
  myClasses[19]=  'BIOL 100';
  myClasses[20]=  'BIOC 100';
  myClasses[21]=  'MATH 100';
  myClasses[22]=  'MACM 101';

  var options = '';

  for(var i = 0; i < myClasses.length; i++)
    options += '<option value="'+myClasses[i]+'" />';

  document.getElementById('classList').innerHTML = options;
</script>

<p><input type="text" list="classes" id="tbox" autocomplete="on" placeholder="Add/Remove Class Here"> <button onclick="addClass()">ADD</button> <button onclick="removeClass()">REMOVE</button></p>

<p id="classBox0"></p>
<p id="classBox1"></p>
<p id="classBox2"></p>
<p id="classBox3"></p>
<p id="classBox4"></p>
<p id="classBox5"></p>

<button onclick="createSchedule()">CREATE SCHEDULE</button>



<script>

    var classes = [];
    var classNum = 0;
    var validClasses =	[["CMPT 276", ["M", "1430", "1520"], ["W", "1430", "1520"], ["F", "1430", "1520"] ],
	["CMPT 295", ["M", "1530", "1620"], ["W", "1530", "1620"], ["F", "1530", "1620"] ],
	["CMPT 320", ["M", "1630", "1720"], ["W", "1630", "1720"], ["F", "1630", "1720"] ],
	["CMPT 371", ["M", "1430", "1720"], ["F", "930", "1020"] ],
	["CMPT 391", ["M", "830", "1020"],  ["F", "830", "920"] ]]

    
    <!-- Add/Remove will only accept text of the form ex. CMPT 320/IAT 100 -->
    
    var reggie = /([A-Z]{4}|[A-Z]{3})(\s{1})([0-9]{3})([A-Z]?)/;


    function clearBox() {
        for (a=0; a <= 5; a++) {
                classes[a] = "___________";
                document.getElementById('classBox'+a).innerHTML = "___________";
            }
    }

    
    <!-- Updates the list of classes on screen after each addition or removal -->
    
    function showList() {
        for (a=0; a <= classNum; a++) {
                document.getElementById('classBox'+a).innerHTML = classes[a];
            }
    }
    
    
    <!-- Add new class to array classes and update display on page -->
    
    function addClass() {

        var newClass = document.getElementById('tbox').value;
        
        if (reggie.test(newClass) && classes.indexOf(newClass) == -1 && classNum <= 6) {
            classes.unshift(newClass);

            showList();
            
            classNum++;

        }

    }
    
    
    <!-- Remove class from array classes and update display on page -->
    
    function removeClass() {

        var newClass = document.getElementById('tbox').value;

        if (reggie.test(newClass) && classes.indexOf(newClass) != -1) {
            var classToRemove = classes.indexOf(newClass);
            classes.splice(classes.indexOf(newClass), 1);
            
            showList();

            classNum--;

        }

    }

    
    function createSchedule() {

    }

    window.onload = clearBox;

</script>