
<p> SFU COURSE SCHEDULER</p>

<datalist id="classes">
    <option value="MACM 201"> 
    <option value="CMPT 320">
    <%#<option value="CMPT 300">%>
    <%#<option value="CMPT 405">%>
    <%#<option value="CMPT 225">%>
    <option value="CMPT 307">
    <option value="CMPT 379">
    <option value="CMPT 276">
    <option value="ARCH 131">
    <option value="HUM 102W">
    <%#<option value="ARCH 101">%>
    <%#<option value="BISC 100">%>
    <%#<option value="BPK 100">%>
    <%#<option value="HIST 100">%>
    <%#<option value="ARCH 300">%>
    <%#<option value="ARCH 200">%>
    <%#<option value="HUM 100">%>
    <%#<option value="CHEM 100">%>
    <%#<option value="BIOL 100">%>
    <%#<option value="BIOC 100">%>
    <%#<option value="MATH 100">%>
    <%#<option value="MACM 101">       %>
</datalist>
<%#<input name="classes" list="classList" />%>
<datalist id="classList"></datalist>

<script>
    var counter = 1;
    var limit = 7;
    var myClasses = new Array();
  myClasses[0]=['CMPT 120', ['M', '830', '1020'],  ['F', '830', '920'] ];
  myClasses[1]=['MACM 201', ['T', '1630', '1720'], ['TH', '1630', '1720']  ];
  myClasses[2]=[ 'CMPT 320', ['M', '1230', '1320'], ['W', '1230', '1720'], ['F', '1230', '1370'] ];
  myClasses[3]=[ 'CMPT 307', ['T', '1630', '1720'], ['TH', '1630', '1720']  ];
  myClasses[4]=['CMPT 379', ['M', '930', '1020'], ['W', '930', '1020'], ['F', '930', '1020'] ];
  myClasses[5]=[  'CMPT 276', ['T', '1630', '1720'], ['TH', '1630', '1720']  ];
  myClasses[6]=[  'ARCH 131', ['T', '1330', '1720'], ['TH', '1230', '1320']  ];
  myClasses[7]=[ 'HUM 102W', ['M', '1630', '1720'], ['W', '1630', '1720'], ['F', '1630', '1720'] ];
    var options = '';
    for(var i = 0; i < myClasses.length; i++)
    options += '<option value="'+myClasses[i][0]+'" />';
    document.getElementById('classList').innerHTML = options;

    function addInput(divName){

         if (counter == limit)  {
              alert("You have reached the limit of adding " + counter + " classes");
         }
         else {
              var newdiv = document.createElement('div');
              newdiv.innerHTML = "Class " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
              document.getElementById(divName).appendChild(newdiv);
              counter++;
         }

    }
    </script>
    <script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>

    <%#<form method="POST">

         <div id="dynamicInput">

              Class 1<br><input type="text" name="myInputs[]" list="classList"placeholder="Add/Remove Class Here">

         <input type="button" value="Add another class" onClick="addInput('dynamicInput');">
         <input type="button" value="Remove" onClick="addInput('dynamicInput');">
         </div>

    </form>%>

<p><input type="text" list="classes" id="tbox" autocomplete="on" placeholder="Add/Remove Class Here"> <button onclick="addClass()">ADD</button> <button onclick="removeClass()">REMOVE</button></p>

<p id="classBox0"></p>
<p id="classBox1"></p>
<p id="classBox2"></p>
<p id="classBox3"></p>
<p id="classBox4"></p>
<p id="classBox5"></p>

<button onclick="createSchedule()">CREATE SCHEDULE</button>



<script>

    var classes = [];
    var classNum = 0;

    
    <!-- Add/Remove will only accept text of the form ex. CMPT 320/IAT 100 -->
    
    var reggie = /([A-Z]{4}|[A-Z]{3})(\s{1})([0-9]{3})([A-Z]?)/;


    function clearBox() {
        for (a=0; a <= 5; a++) {
                classes[a] = "___________";
                document.getElementById('classBox'+a).innerHTML = "___________";
            }
    }

    
    <!-- Updates the list of classes on screen after each addition or removal -->
    
    function showList() {
        for (a=0; a <= classNum; a++) {
                document.getElementById('classBox'+a).innerHTML = classes[a];
            }
    }
    
    
    <!-- Add new class to array classes and update display on page -->
    
    function addClass() {

        var newClass = document.getElementById('tbox').value;
        
        if (reggie.test(newClass) && classes.indexOf(newClass) == -1 && classNum <= 6) {
            classes.unshift(newClass);

            showList();
            
            classNum++;

        }

    }
    
    
    <!-- Remove class from array classes and update display on page -->
    
    function removeClass() {

        var newClass = document.getElementById('tbox').value;

        if (reggie.test(newClass) && classes.indexOf(newClass) != -1) {
            var classToRemove = classes.indexOf(newClass);
            classes.splice(classes.indexOf(newClass), 1);
            
            showList();

            classNum--;

        }

    }

    
    function createSchedule() {
        showList()
    }

    window.onload = clearBox;

</script>
