<p id="notice"><%= notice %></p>

<p>
  <strong>Courses:</strong>
  <%= @build_schedule.courses %>
</p>

<%= link_to 'Edit', edit_build_schedule_path(@build_schedule) %> |
<%= link_to 'Back', build_schedules_path %>
